*
{
	-webkit-transition: all 1s;
		transition: all 1s;
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body
{
	height: 1200px;
	padding-top: 56px;
}


.flex-column .nav-item
{
	
	padding: 1px;
}


#listopen1
{
	display: none;
	background-color:orange;
	padding-left: 10px;
	
	
}

#listopen2
{
	display: none;
	background-color: orange;
	
}

#listopen3
{
	display: none;
	background-color: orange;
	
}

a
{
	color:#333;
}

i{
	position: absolute;
	right:20px;
}

#days
{
	padding: 3px 10px;
	
}
